.timer{
    margin: 12px auto;
    display:grid;
    justify-content: center;
    color:#83c5be;
    text-align: center;
    font-size: 30px;
}
.timer h1{
     text-align: center;
     font-weight: bold;
     font-size: 30px;
}
body {
    font-family: Georgia,  serif;
  background-size: 40px 40px;
  background-image:
    linear-gradient(to right, rgb(0, 0, 0) 1px, transparent 1px),
    linear-gradient(to bottom, rgb(0, 0, 0) 1px, transparent 1px);
  background-color: #006d77;
}
button{
    background-color: #83c5be;
    width:115px;
    margin-top:10px;
    height: 30px;
}
input{
    margin-top:10px;
    height:25px;
    font-size:14pt;
    background: #edf6f9;

}
button:hover{
    border:#edf6f9 2px solid;
    transition: all 0.5s ease;
    transform: scale(1.1)
}